# Exploratory data analysis

## Conference Room

In [5]:
# Import data to pandas dataframe
import pandas as pd

data_dir = '../data/CFD_Results//conference_room/'

mrt_data = pd.read_csv(data_dir+'training_MRT.csv')
t_data = pd.read_csv(data_dir+'training_T.csv')[['T']]
v_data = pd.read_csv(data_dir+'training_V.csv')[['V']]

           T
0  24.436355
1  24.108097
2  20.254636
3  20.568076
4  24.417741